{% load socialaccount %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Login</title>
</head>
<br>
<h1>This is the social login page</h1>
{% if user.is_authenticated %}
    <p>Username:  {{ user.username }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Role: {{ user.profile.role }}</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
    <h2>Login here:</h2>
    <li>
        <a href="{% provider_login_url 'google' %}">Login with Google</a>
    </li>
    <li>
        <a href="{% url 'signin' %}">Login with an existing account</a>
    </li>
    <h2>If you don't have an account yet, Sign Up here:</h2>
    <a href="{% url 'signup' %}">Sign up</a>
{% endif %}
</body>
</html>