{% extends 'our_app/main.html' %}
{% block content %}
<br>
<h3>Education: Beyond the horizon</h3>
<!-- <div class="row">
    <div class="col-md-7">
            <h5>Professors</h5>
            <hr>
            <div class="card card-body">

                <table class="table table-sm">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>University</th>
                        <th>research_field</th>
                        <th>publications</th>
                    </tr>
                    {% for prof in profs%}
                    <tr>
                        <td>{{prof.first_name}}</td>
                        <td>{{prof.last_name}}</td>
                        <td>{{prof.email}}</td>
                        <td>{{prof.university}}</td>
                        <td>{{prof.research_field}}</td>
                        <td>{{prof.publications}}</td>
                    </tr>
				    {% endfor %}


                </table>
            </div>
    </div>
</div> -->

{% endblock %}

