{% extends 'our_app/base.html' %}
{% block content %}
{% load static %}
{% if user.email != '' %}
	{% if user.role == '' %}
			<main>
				<div class="main-section" style="margin-top: 10%; margin-bottom: 14%;">
					<div class="container">
						<!-- <h1 align="center">You don't have a role yet! Please, select one to begin with.</h1> -->
						<!-- <h1 align="center">Needs a dropdown and then insert query into User table!</h1> -->
						<div class="signup-tab" style="background-color: rgb(205, 223, 223);">

							<h2>You don't have a role yet! Please, select your role to begin with.</h2>

							<form method="POST" action="{% url 'home' %}">
								{% csrf_token %}
								{{ form.as_p }}
								<input type="hidden" value={{user.id}} name="id">
								<button class="btn btn-danger" type="submit" value="Student" name="role">Student</button>
								<button class="btn btn-secondary" type="submit" value="Professor" name="role">Professor</button>
							</form>
						</div><!--signup-tab end-->
					</div>
				</div>
			</main>
		{% else %}
				<main>
				<div class="main-section">
					<div class="container">
						<div class="main-section-data">
							<div class="row">
								<div class="col-lg-3 col-md-4 pd-left-none no-pd">
									<div class="main-left-sidebar no-margin">
										<div class="user-data full-width">
											<div class="user-profile">
												<div class="username-dt">
													<div class="usr-pic">
														{% if user.profile.picture_social %}
															<img src="{{ user.profile.picture_social }}" alt="">
														{% else %}
															<img src="{{ user.profile.picture_local.url }}" alt="">
														{% endif %}
													</div>
												</div><!--username-dt end-->
												<div class="user-specs">
													<h3>{{ user.first_name }}{{' '}}{{ user.last_name }}</h3>
													<span>{{ user.role }}</span>
												</div>
											</div><!--user-profile end-->
											<ul class="user-fw-status">
												<li>
													<h4>Following</h4>
													<span>34</span>
												</li>
												<li>
													<h4>Followers</h4>
													<span>155</span>
												</li>
												<li>
													<a href="http://www.gambolthemes.net/workwise-new/my-profile.html" title="">View Profile</a>
												</li>
											</ul>
										</div><!--user-data end-->
										<div class="suggestions full-width">
											<div class="sd-title">
												<h3>You may also like this</h3>
												<i class="la la-ellipsis-v"></i>
											</div><!--sd-title end-->
											<div class="suggestions-list">
												<div class="suggestion-usd">
													<img src="{% static '/front_end/images/resources/s1.png' %}" alt="">
													<div class="sgt-text">
														<h4>Jessica William</h4>
														<span>Graphic Designer</span>
													</div>
													<span><i class="la la-plus"></i></span>
												</div>
												<div class="suggestion-usd">
													<img src="{% static '/front_end/images/resources/s2.png' %}" alt="">
													<div class="sgt-text">
														<h4>John Doe</h4>
														<span>PHP Developer</span>
													</div>
													<span><i class="la la-plus"></i></span>
												</div>
												<div class="suggestion-usd">
													<img src="{% static '/front_end/images/resources/s3.png' %}" alt="">
													<div class="sgt-text">
														<h4>Poonam</h4>
														<span>Wordpress Developer</span>
													</div>
													<span><i class="la la-plus"></i></span>
												</div>
												<div class="suggestion-usd">
													<img src="{% static '/front_end/images/resources/s4.png' %}" alt="">
													<div class="sgt-text">
														<h4>Bill Gates</h4>
														<span>C & C++ Developer</span>
													</div>
													<span><i class="la la-plus"></i></span>
												</div>
												<div class="suggestion-usd">
													<img src="{% static '/front_end/images/resources/s5.png' %}" alt="">
													<div class="sgt-text">
														<h4>Jessica William</h4>
														<span>Graphic Designer</span>
													</div>
													<span><i class="la la-plus"></i></span>
												</div>
												<div class="suggestion-usd">
													<img src="{% static '/front_end/images/resources/s6.png' %}" alt="">
													<div class="sgt-text">
														<h4>John Doe</h4>
														<span>PHP Developer</span>
													</div>
													<span><i class="la la-plus"></i></span>
												</div>
												<div class="view-more">
													<a href="#" title="">View More</a>
												</div>
											</div><!--suggestions-list end-->
										</div><!--suggestions end-->
									</div><!--main-left-sidebar end-->
								</div>
								<div class="col-lg-6 col-md-8 no-pd">
									<div class="main-ws-sec">
										{% if user.role == "Professor" %}
										<div class="post-topbar">
											<div class="user-picy">
												{% if user.profile.picture_social %}
													<img src="{{ user.profile.picture_social }}" alt="" width="30" height="30">
												{% else %}
													<img src="{{ user.profile.picture_local.url }}" alt="" width="30" height="30">
												{% endif %}
											</div>
											<div class="post-st">
												<ul>
													<li><a class="post-jb active" href="#" title="">Post an Offer</a></li>
												</ul>
											</div><!--post-st end-->
										</div><!--post-topbar end-->
										{% endif %}
										<div class="posts-section">
											<div class="post-bar">
												<div class="post_topbar">
													<div class="usy-dt">
														{% if user.profile.picture_social %}
															<img src="{{ user.profile.picture_social }}" alt="" width="30" height="30">
														{% else %}
															<img src="{{ user.profile.picture_local.url }}" alt="" width="30" height="30">
														{% endif %}
														<div class="usy-name">
															<h3>{{ user.first_name }}</h3>
															<span><img src="{% static '/front_end/images/clock.png' %}" alt="">3 min ago</span>
														</div>
													</div>
													<div class="ed-opts">
														<a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
														<ul class="ed-options">
															<li><a href="#" title="">Edit Post</a></li>
															<li><a href="#" title="">Unsaved</a></li>
															<li><a href="#" title="">Unbid</a></li>
															<li><a href="#" title="">Close</a></li>
															<li><a href="#" title="">Hide</a></li>
														</ul>
													</div>
												</div>
												<div class="epi-sec">
													<ul class="descp">
														<li><img src="{% static '/front_end/images/icon8.png' %}" alt=""><span>Epic Coder</span></li>
														<li><img src="{% static '/front_end/images/icon9.png' %}" alt=""><span>India</span></li>
													</ul>
													<ul class="bk-links">
														<li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
														<li><a href="#" title=""><i class="la la-envelope"></i></a></li>
													</ul>
												</div>
												<div class="job_descp">
													<h3>{{ user.role }}</h3>
													<ul class="job-dt">
														<li><a href="#" title="">Full Time</a></li>
														<li><span>$30 / hr</span></li>
													</ul>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>
													<ul class="skill-tags">
														<li><a href="#" title="">HTML</a></li>
														<li><a href="#" title="">PHP</a></li>
														<li><a href="#" title="">CSS</a></li>
														<li><a href="#" title="">Javascript</a></li>
														<li><a href="#" title="">Wordpress</a></li>
													</ul>
												</div>
												<div class="job-status-bar">
													<ul class="like-com">
														<li>
															<a href="#"><i class="fas fa-heart"></i> Like</a>
															<img src="{% static '/front_end/images/liked-img.png' %}" alt="">
															<span>25</span>
														</li>
														<li><a href="#" class="com"><i class="fas fa-comment-alt"></i> Comment 15</a></li>
													</ul>
													<a href="#"><i class="fas fa-eye"></i>Views 50</a>
												</div>
											</div><!--post-bar end-->
											<div class="top-profiles">
												<div class="pf-hd">
													{% if user.role == "Professor" %}
													<h3>Top Profiles</h3>
													{% elif title == value %}
													<h3>Top Offers</h3>
													{% endif %}
													<i class="la la-ellipsis-v"></i>
												</div>
												<div class="profiles-slider">
													<div class="user-profy">
														<img src="{% static '/front_end/images/resources/user1.png' %}" alt="">
														<h3>John Doe</h3>
														<span>Graphic Designer</span>
														<ul>
															<li><a href="#" title="" class="followw">Follow</a></li>
															<li><a href="#" title="" class="envlp"><img src="{% static '/front_end/images/envelop.png' %}" alt=""></a></li>
															<li><a href="#" title="" class="hire">hire</a></li>
														</ul>
														<a href="#" title="">View Profile</a>
													</div><!--user-profy end-->
													<div class="user-profy">
														<img src="{% static '/front_end/images/resources/user2.png' %}" alt="">
														<h3>John Doe</h3>
														<span>Graphic Designer</span>
														<ul>
															<li><a href="#" title="" class="followw">Follow</a></li>
															<li><a href="#" title="" class="envlp"><img src="{% static '/front_end/images/envelop.png' %}" alt=""></a></li>
															<li><a href="#" title="" class="hire">hire</a></li>
														</ul>
														<a href="#" title="">View Profile</a>
													</div><!--user-profy end-->
													<div class="user-profy">
														<img src="{% static '/front_end/images/resources/user3.png' %}" alt="">
														<h3>John Doe</h3>
														<span>Graphic Designer</span>
														<ul>
															<li><a href="#" title="" class="followw">Follow</a></li>
															<li><a href="#" title="" class="envlp"><img src="{% static '/front_end/images/envelop.png' %}" alt=""></a></li>
															<li><a href="#" title="" class="hire">hire</a></li>
														</ul>
														<a href="#" title="">View Profile</a>
													</div><!--user-profy end-->
													<div class="user-profy">
														<img src="{% static '/front_end/images/resources/user1.png' %}" alt="">
														<h3>John Doe</h3>
														<span>Graphic Designer</span>
														<ul>
															<li><a href="#" title="" class="followw">Follow</a></li>
															<li><a href="#" title="" class="envlp"><img src="{% static '/front_end/images/envelop.png' %}" alt=""></a></li>
															<li><a href="#" title="" class="hire">hire</a></li>
														</ul>
														<a href="#" title="">View Profile</a>
													</div><!--user-profy end-->
													<div class="user-profy">
														<img src="{% static '/front_end/images/resources/user2.png' %}" alt="">
														<h3>John Doe</h3>
														<span>Graphic Designer</span>
														<ul>
															<li><a href="#" title="" class="followw">Follow</a></li>
															<li><a href="#" title="" class="envlp"><img src="{% static '/front_end/images/envelop.png' %}" alt=""></a></li>
															<li><a href="#" title="" class="hire">hire</a></li>
														</ul>
														<a href="#" title="">View Profile</a>
													</div><!--user-profy end-->
													<div class="user-profy">
														<img src="{% static '/front_end/images/resources/user3.png' %}" alt="">
														<h3>John Doe</h3>
														<span>Graphic Designer</span>
														<ul>
															<li><a href="#" title="" class="followw">Follow</a></li>
															<li><a href="#" title="" class="envlp"><img src="{% static '/front_end/images/envelop.png' %}" alt=""></a></li>
															<li><a href="#" title="" class="hire">hire</a></li>
														</ul>
														<a href="#" title="">View Profile</a>
													</div><!--user-profy end-->
												</div><!--profiles-slider end-->
											</div><!--top-profiles end-->

										</div><!--posts-section end-->
									</div><!--main-ws-sec end-->
								</div>
								<div class="col-lg-3 pd-right-none no-pd">
									<div class="right-sidebar">
										<div class="widget widget-jobs">
											<div class="sd-title">
												{% if user.role == "Professor" %}
												<h3>Students of the week</h3>
												{% elif title == value %}
												<h3>Offers of the week</h3>
												{% endif %}
												<i class="la la-ellipsis-v"></i>
											</div>
											<div class="jobs-list">
												<div class="job-info">
													<div class="job-details">
														<h3>Senior Product Designer</h3>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
													</div>
													<div class="hr-rate">
														<span>$25/hr</span>
													</div>
												</div><!--job-info end-->
												<div class="job-info">
													<div class="job-details">
														<h3>Senior UI / UX Designer</h3>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
													</div>
													<div class="hr-rate">
														<span>$25/hr</span>
													</div>
												</div><!--job-info end-->
												<div class="job-info">
													<div class="job-details">
														<h3>Junior Seo Designer</h3>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
													</div>
													<div class="hr-rate">
														<span>$25/hr</span>
													</div>
												</div><!--job-info end-->
												<div class="job-info">
													<div class="job-details">
														<h3>Senior PHP Designer</h3>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
													</div>
													<div class="hr-rate">
														<span>$25/hr</span>
													</div>
												</div><!--job-info end-->
												<div class="job-info">
													<div class="job-details">
														<h3>Senior Developer Designer</h3>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
													</div>
													<div class="hr-rate">
														<span>$25/hr</span>
													</div>
												</div><!--job-info end-->
											</div><!--jobs-list end-->
										</div><!--widget-jobs end-->
										<div class="widget widget-jobs">
											<div class="sd-title">
												{% if user.role == "Professor" %}
												<h3>Student who visited your offer</h3>
												{% elif title == value %}
												<h3>Professor who visited your profile</h3>
												{% endif %}
												<i class="la la-ellipsis-v"></i>
											</div>
											<div class="jobs-list">
												<div class="job-info">
													<div class="job-details">
														<h3>Senior Product Designer</h3>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
													</div>
													<div class="hr-rate">
														<span>$25/hr</span>
													</div>
												</div><!--job-info end-->
												<div class="job-info">
													<div class="job-details">
														<h3>Senior UI / UX Designer</h3>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
													</div>
													<div class="hr-rate">
														<span>$25/hr</span>
													</div>
												</div><!--job-info end-->
												<div class="job-info">
													<div class="job-details">
														<h3>Junior Seo Designer</h3>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
													</div>
													<div class="hr-rate">
														<span>$25/hr</span>
													</div>
												</div><!--job-info end-->
											</div><!--jobs-list end-->
										</div><!--widget-jobs end-->
									</div><!--right-sidebar end-->
								</div>
							</div>
						</div><!-- main-section-data end-->
					</div>
				</div>
			</main>
	{% endif %}
{% else %}
	<p>you need a valid email</p>
{% endif %}
{% endblock %}