{% extends 'our_app/main.html' %}
{% block content %}
<br>
<h3>Education: Beyond the horizon</h3>
<p>Recommended students based on the offers you posted: </p>
{% for student in matched_student %}
    <p>{{student.first_name}}</p>
    <p>{{student.last_name}}</p>
    <p>{{student.position_for}}</p>
    <p>{{student.last_degree}}</p>
    <p>{{student.cgpa}}</p>
    <p>{{student.research_background}}</p>
    <p>{{student.email}}</p>
    <p>{{student.country}}</p>

{% endfor %}

{% endblock %}

