{% extends 'our_app/base.html' %}
{% block content %}
{% load static %}
<section class="cover-sec">
    <img src="{% static '/front_end/images/resources/cover-img.jpg' %}" alt="">
    <div class="add-pic-box">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-12 col-sm-12">					
                    <input type="file" id="file">
                    <label for="file">Change Image</label>				
                </div>
            </div>
        </div>
    </div>
</section>


<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="main-left-sidebar">
                            <div class="user_profile">
                                <div class="user-pro-img">
                                    {% if user.profile.picture_social %}
                                        <img src="{{ user.profile.picture_social }}" alt="" width="200" height="200">
                                    {% else %}
                                        <img src="{{ user.profile.picture_local.url }}" alt="" width="200" height="200">
                                    {% endif %}
                                    <div class="add-dp" id="OpenImgUpload">
                                        <form id='myForm' name='upload_image' action="#" method="POST">
                                            <input type="file" id="file" id="submitBtn">
                                            <label for="file"><i class="fas fa-camera"></i></label>
                                        </form>
                                    </div>
                                </div><!--user-pro-img end-->
                                <div class="user_pro_status">
                                    <ul class="flw-status">
                                        <li>
                                            <span class="asdsad">Following</span>
                                            <b>34</b>
                                        </li>
                                        <li>
                                            <span>Followers</span>
                                            <b>155</b>
                                        </li>
                                    </ul>
                                </div><!--user_pro_status end-->
                                <ul class="social_links">
                                    <li><a href="#" title=""><i class="la la-globe"></i> www.example.com</a></li>
                                    <li><a href="#" title=""><i class="fa fa-facebook-square"></i> Http://www.facebook.com/john...</a></li>
                                    <li><a href="#" title=""><i class="fa fa-twitter"></i> Http://www.Twitter.com/john...</a></li>
                                    <li><a href="#" title=""><i class="fa fa-google-plus-square"></i> Http://www.googleplus.com/john...</a></li>
                                    <li><a href="#" title=""><i class="fa fa-behance-square"></i> Http://www.behance.com/john...</a></li>
                                </ul>
                            </div><!--user_profile end-->
                            <div class="suggestions full-width">
                                <div class="sd-title">
                                    <h3>People Viewed Profile</h3>
                                    <i class="la la-ellipsis-v"></i>
                                </div><!--sd-title end-->
                                <div class="suggestions-list">
                                    <div class="suggestion-usd">
                                        <img src="{% static '/front_end/images/resources/s1.png' %}" alt="">
                                        <div class="sgt-text">
                                            <h4>Jessica William</h4>
                                            <span>Graphic Designer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="{% static '/front_end/images/resources/s2.png' %}" alt="">
                                        <div class="sgt-text">
                                            <h4>John Doe</h4>
                                            <span>PHP Developer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="{% static '/front_end/images/resources/s3.png' %}" alt="">
                                        <div class="sgt-text">
                                            <h4>Poonam</h4>
                                            <span>Wordpress Developer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="{% static '/front_end/images/resources/s4.png' %}" alt="">
                                        <div class="sgt-text">
                                            <h4>Bill Gates</h4>
                                            <span>C & C++ Developer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="{% static '/front_end/images/resources/s5.png' %}" alt="">
                                        <div class="sgt-text">
                                            <h4>Jessica William</h4>
                                            <span>Graphic Designer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="{% static '/front_end/images/resources/s6.png' %}" alt="">
                                        <div class="sgt-text">
                                            <h4>John Doe</h4>
                                            <span>PHP Developer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="view-more">
                                        <a href="#" title="">View More</a>
                                    </div>
                                </div><!--suggestions-list end-->
                            </div><!--suggestions end-->
                        </div><!--main-left-sidebar end-->
                    </div>
                    <div class="col-lg-6">
                        <div class="main-ws-sec">
                            <div class="user-tab-sec rewivew">
                                <h3>{{ user.first_name }}{{' '}}{{ user.last_name }}</h3>
                                <div class="star-descp">
                                    <span>{{ user.role }}</span>
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half-o"></i></li>
                                    </ul>
                                    <a href="#" title="">Status</a>
                                </div><!--star-descp end-->
                                    <div class="tab-feed st2 settingjb">
                                    <ul>
                                        <li data-tab="info-dd" class="active">
                                            <a href="#" title="">
                                                <img src="{% static '/front_end/images/ic2.png' %}" alt="">
                                                <span>Info</span>
                                            </a>
                                        </li>
                                        <li data-tab="saved-jobs">
                                            <a href="#" title="">
                                                <img src="{% static '/front_end/images/ic4.png' %}" alt="">
                                                <span>Offers</span>
                                            </a>
                                        </li>
                                        <li data-tab="portfolio-dd">
                                            <a href="#" title="">
                                                <img src="{% static '/front_end/images/ic3.png' %}" alt="">
                                                <span>Portfolio</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- tab-feed end-->
                            </div><!--user-tab-sec end-->
                            <div class="product-feed-tab" id="saved-jobs">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                   <li class="nav-item">
                                     <a class="nav-link active" id="mange-tab" data-toggle="tab" href="#mange" role="tab" aria-controls="home" aria-selected="true">Recommended Offers</a>
                                   </li>
                                   <li class="nav-item">
                                     <a class="nav-link" id="saved-tab" data-toggle="tab" href="#saved" role="tab" aria-controls="profile" aria-selected="false">Saved Offers</a>
                                   </li>
                                   <li class="nav-item">
                                     <a class="nav-link" id="contact-tab" data-toggle="tab" href="#applied" role="tab" aria-controls="applied" aria-selected="false">Applied Offers</a>
                                   </li>
                                 </ul>
                                 <div class="tab-content" id="myTabContent">
                                 <div class="tab-pane fade show active" id="mange" role="tabpanel" aria-labelledby="mange-tab">
                                        <div class="posts-bar">
                                            <div class="post-bar bgclr">
                                                <div class="wordpressdevlp">
                                                    <h2>Senior Wordpress Developer</h2>
                                                   
                                                    <p><i class="la la-clock-o"></i>Posted on 30 August 2018</p>
                                                </div>
                                                <br>
                                                <div class="row no-gutters">
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="cadidatesbtn">
                                                            <button type="button" class="btn btn-primary">
                                                                <span class="badge badge-light">3</span>Candidates
                                                            </button>
                                                            <a href="#">
                                                                <i class="far fa-edit"></i>
                                                            </a>
                                                            <a href="#">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <ul class="bk-links bklink">
                                                            <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
                                                            <li><a href="#" title=""><i class="la la-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="posts-bar">
                                            <div class="post-bar bgclr">
                                                <div class="wordpressdevlp">
                                                    <h2>Senior Php Developer</h2>
                                                    
                                                    <p><i class="la la-clock-o"></i> Posted on 29 August 2018</p>
                                                </div>
                                                <br>
                                                <div class="row no-gutters">
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="cadidatesbtn">
                                                            <button type="button" class="btn btn-primary">
                                                                <span class="badge badge-light">3</span>Candidates
                                                            </button>
                                                            <a href="#">
                                                                <i class="far fa-edit"></i>
                                                            </a>
                                                            <a href="#">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <ul class="bk-links bklink">
                                                            <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
                                                            <li><a href="#" title=""><i class="la la-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="posts-bar">
                                            <div class="post-bar bgclr">
                                                <div class="wordpressdevlp">
                                                    <h2>Senior UI UX Designer</h2>
                                                  
                                                    <div class="row no-gutters">
                                                        <div class="col-md-6 col-sm-12">
                                                            <p class="posttext"><i class="la la-clock-o"></i>Posted on 5 June 2018</p>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12">
                                                            <p><i class="la la-clock-o"></i>Expiried on 5 October 2018</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row no-gutters">
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="cadidatesbtn">
                                                            <button type="button" class="btn btn-primary">
                                                                <span class="badge badge-light">3</span>Candidates
                                                            </button>																	
                                                            <a href="#">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <ul class="bk-links bklink">
                                                            <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
                                                            <li><a href="#" title=""><i class="la la-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="saved" role="tabpanel" aria-labelledby="saved-tab">
                                        <div class="post-bar">
                                            <div class="p-all saved-post">
                                                <div class="usy-dt">
                                                    <div class="wordpressdevlp">
                                                        <h2>Senior Wordpress Developer</h2>
                                                      
                                                        <p><i class="la la-clock-o"></i>Posted on 30 August 2018</p>
                                                    </div>
                                                </div>
                                                <div class="ed-opts">
                                                    <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                                    <ul class="ed-options">
                                                        <li><a href="#" title="">Edit Post</a></li>
                                                        <li><a href="#" title="">Unsaved</a></li>
                                                        <li><a href="#" title="">Unbid</a></li>
                                                        <li><a href="#" title="">Close</a></li>
                                                        <li><a href="#" title="">Hide</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <ul class="savedjob-info saved-info">
                                                <li>
                                                    <h3>Applicants</h3>
                                                    <p>10</p>
                                                </li>
                                                <li>
                                                    <h3>Job Type</h3>
                                                    <p>Full Time</p>
                                                </li>
                                                <li>
                                                    <h3>Salary</h3>
                                                    <p>$600 - Mannual</p>
                                                </li>
                                                <li>
                                                    <h3>Posted : 5 Days Ago</h3>
                                                    <p>Open</p>
                                                </li>
                                                <div class="devepbtn saved-btn">
                                                    <a class="clrbtn" href="#">Unsaved</a>
                                                    <a class="clrbtn" href="#">Message</a>
                                                </div>
                                            </ul>
                                        </div>
                                        <div class="post-bar">
                                            <div class="p-all saved-post">
                                                <div class="usy-dt">
                                                    <div class="wordpressdevlp">
                                                        <h2>Senior PHP Developer</h2>
                                                        
                                                        <p><i class="la la-clock-o"></i>Posted on 30 August 2018</p>
                                                    </div>
                                                </div>
                                                <div class="ed-opts">
                                                    <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                                    <ul class="ed-options">
                                                        <li><a href="#" title="">Edit Post</a></li>
                                                        <li><a href="#" title="">Unsaved</a></li>
                                                        <li><a href="#" title="">Unbid</a></li>
                                                        <li><a href="#" title="">Close</a></li>
                                                        <li><a href="#" title="">Hide</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <ul class="savedjob-info saved-info">
                                                <li>
                                                    <h3>Applicants</h3>
                                                    <p>10</p>
                                                </li>
                                                <li>
                                                    <h3>Job Type</h3>
                                                    <p>Full Time</p>
                                                </li>
                                                <li>
                                                    <h3>Salary</h3>
                                                    <p>$600 - Mannual</p>
                                                </li>
                                                <li>
                                                    <h3>Posted : 5 Days Ago</h3>
                                                    <p>Open</p>
                                                </li>
                                                <div class="devepbtn saved-btn">
                                                    <a class="clrbtn" href="#">Unsaved</a>
                                                    <a class="clrbtn" href="#">Message</a>
                                                </div>
                                            </ul>
                                        </div>
                                        <div class="post-bar">
                                            <div class="p-all saved-post">
                                                <div class="usy-dt">
                                                    <div class="wordpressdevlp">
                                                        <h2>UI UX Designer</h2>
                                                       
                                                        <p><i class="la la-clock-o"></i>Posted on 30 August 2018</p>
                                                    </div>
                                                </div>
                                                <div class="ed-opts">
                                                    <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                                    <ul class="ed-options">
                                                        <li><a href="#" title="">Edit Post</a></li>
                                                        <li><a href="#" title="">Unsaved</a></li>
                                                        <li><a href="#" title="">Unbid</a></li>
                                                        <li><a href="#" title="">Close</a></li>
                                                        <li><a href="#" title="">Hide</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <ul class="savedjob-info saved-info">
                                                <li>
                                                    <h3>Applicants</h3>
                                                    <p>10</p>
                                                </li>
                                                <li>
                                                    <h3>Job Type</h3>
                                                    <p>Full Time</p>
                                                </li>
                                                <li>
                                                    <h3>Salary</h3>
                                                    <p>$600 - Mannual</p>
                                                </li>
                                                <li>
                                                    <h3>Posted : 5 Days Ago</h3>
                                                    <p>Open</p>
                                                </li>
                                                <div class="devepbtn saved-btn">
                                                    <a class="clrbtn" href="#">Unsaved</a>
                                                    <a class="clrbtn" href="#">Message</a>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="applied" role="tabpanel" aria-labelledby="applied-tab">
                                        <div class="post-bar">
                                            <div class="p-all saved-post">
                                                <div class="usy-dt">
                                                    <div class="wordpressdevlp">
                                                        <h2>Senior Wordpress Developer</h2>
                                                        
                                                        <p><i class="la la-clock-o"></i>Posted on 30 August 2018</p>
                                                    </div>
                                                </div>
                                                <div class="ed-opts">
                                                    <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                                    <ul class="ed-options">
                                                        <li><a href="#" title="">Edit Post</a></li>
                                                        <li><a href="#" title="">Unsaved</a></li>
                                                        <li><a href="#" title="">Unbid</a></li>
                                                        <li><a href="#" title="">Close</a></li>
                                                        <li><a href="#" title="">Hide</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <ul class="savedjob-info saved-info">
                                                <li>
                                                    <h3>Applicants</h3>
                                                    <p>10</p>
                                                </li>
                                                <li>
                                                    <h3>Job Type</h3>
                                                    <p>Full Time</p>
                                                </li>
                                                <li>
                                                    <h3>Salary</h3>
                                                    <p>$600 - Mannual</p>
                                                </li>
                                                <li>
                                                    <h3>Posted : 5 Days Ago</h3>
                                                    <p>Open</p>
                                                </li>
                                                <div class="devepbtn saved-btn">
                                                    <a class="clrbtn" href="#">Applied</a>
                                                    <a class="clrbtn" href="#">Message</a>
                                                    <a href="#">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </ul>
                                        </div>
                                        <div class="post-bar">
                                            <div class="p-all saved-post">
                                                <div class="usy-dt">
                                                    <div class="wordpressdevlp">
                                                        <h2>Senior PHP Developer</h2>
                                                        
                                                        <p><i class="la la-clock-o"></i>Posted on 30 August 2018</p>
                                                    </div>
                                                </div>
                                                <div class="ed-opts">
                                                    <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                                    <ul class="ed-options">
                                                        <li><a href="#" title="">Edit Post</a></li>
                                                        <li><a href="#" title="">Unsaved</a></li>
                                                        <li><a href="#" title="">Unbid</a></li>
                                                        <li><a href="#" title="">Close</a></li>
                                                        <li><a href="#" title="">Hide</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <ul class="savedjob-info saved-info">
                                                <li>
                                                    <h3>Applicants</h3>
                                                    <p>10</p>
                                                </li>
                                                <li>
                                                    <h3>Job Type</h3>
                                                    <p>Full Time</p>
                                                </li>
                                                <li>
                                                    <h3>Salary</h3>
                                                    <p>$600 - Mannual</p>
                                                </li>
                                                <li>
                                                    <h3>Posted : 5 Days Ago</h3>
                                                    <p>Open</p>
                                                </li>
                                                <div class="devepbtn saved-btn">
                                                    <a class="clrbtn" href="#">Applied</a>
                                                    <a class="clrbtn" href="#">Message</a>
                                                    <a href="#">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </ul>
                                        </div>
                                        <div class="post-bar">
                                            <div class="p-all saved-post">
                                                <div class="usy-dt">
                                                    <div class="wordpressdevlp">
                                                        <h2>UI UX Designer</h2>
                                                       
                                                        <p><i class="la la-clock-o"></i>Posted on 30 August 2018</p>
                                                    </div>
                                                </div>
                                                <div class="ed-opts">
                                                    <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                                    <ul class="ed-options">
                                                        <li><a href="#" title="">Edit Post</a></li>
                                                        <li><a href="#" title="">Unsaved</a></li>
                                                        <li><a href="#" title="">Unbid</a></li>
                                                        <li><a href="#" title="">Close</a></li>
                                                        <li><a href="#" title="">Hide</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <ul class="savedjob-info saved-info">
                                                <li>
                                                    <h3>Applicants</h3>
                                                    <p>10</p>
                                                </li>
                                                <li>
                                                    <h3>Job Type</h3>
                                                    <p>Full Time</p>
                                                </li>
                                                <li>
                                                    <h3>Salary</h3>
                                                    <p>$600 - Mannual</p>
                                                </li>
                                                <li>
                                                    <h3>Posted : 5 Days Ago</h3>
                                                    <p>Open</p>
                                                </li>
                                                <div class="devepbtn saved-btn">
                                                    <a class="clrbtn" href="#">Applied</a>
                                                    <a class="clrbtn" href="#">Message</a>
                                                    <a href="#">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="cadidates" role="tabpanel" aria-labelledby="cadidates-tab">
                                        <div class="post-bar">
                                            <div class="post_topbar applied-post">
                                                <div class="usy-dt">
                                                    <img src="{% static '/front_end/images/resources/us-pic.png' %}" alt="">
                                                    <div class="usy-name">
                                                        <h3>John Doe</h3>
                                                        <div class="epi-sec epi2">
                                                            <ul class="descp descptab bklink">
                                                                <li><img src="{% static '/front_end/images/icon8.png' %}" alt=""><span>Epic Coder</span></li>
                                                                <li><img src="{% static '/front_end/images/icon9.png' %}" alt=""><span>India</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ed-opts">
                                                    <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                                    <ul class="ed-options">
                                                        <li><a href="#" title="">Edit Post</a></li>
                                                        <li><a href="#" title="">Accept</a></li>
                                                        <li><a href="#" title="">Unbid</a></li>
                                                        <li><a href="#" title="">Close</a></li>
                                                        <li><a href="#" title="">Hide</a></li>
                                                    </ul>
                                                </div>
                                                <div class="job_descp noborder">
                                                    <div class="star-descp review profilecnd">
                                                        <ul class="bklik">
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star-half-o"></i></li>
                                                            <a href="#" title="">5.0 of 5 Reviews</a>
                                                        </ul>
                                                    </div>
                                                    <div class="devepbtn appliedinfo noreply">
                                                        <a class="clrbtn" href="#">Accept</a>
                                                        <a class="clrbtn" href="#">View Profile</a>
                                                        <a class="clrbtn" href="#">Message</a>
                                                        <a href="#">
                                                            <i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-bar">
                                            <div class="post_topbar  applied-post">
                                                <div class="usy-dt">
                                                    <img src="{% static '/front_end/images/resources/us-pic.png' %}" alt="">
                                                    <div class="usy-name">
                                                        <h3>John Doe</h3>
                                                        <div class="epi-sec epi2">
                                                            <ul class="descp descptab bklink">
                                                                <li><img src="{% static '/front_end/images/icon8.png' %}" alt=""><span>Epic Coder</span></li>
                                                                <li><img src="{% static '/front_end/images/icon9.png' %}" alt=""><span>India</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ed-opts">
                                                    <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                                    <ul class="ed-options">
                                                        <li><a href="#" title="">Edit Post</a></li>
                                                        <li><a href="#" title="">Accept</a></li>
                                                        <li><a href="#" title="">Unbid</a></li>
                                                        <li><a href="#" title="">Close</a></li>
                                                        <li><a href="#" title="">Hide</a></li>
                                                    </ul>
                                                </div>
                                                <div class="job_descp noborder">
                                                    <div class="star-descp review profilecnd">
                                                        <ul class="bklik">
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star-half-o"></i></li>
                                                            <a href="#" title="">5.0 of 5 Reviews</a>
                                                        </ul>
                                                    </div>
                                                    <div class="devepbtn appliedinfo noreply">
                                                        <a class="clrbtn" href="#">Accept</a>
                                                        <a class="clrbtn" href="#">View Profile</a>
                                                        <a class="clrbtn" href="#">Message</a>
                                                        <a href="#">
                                                            <i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-bar">
                                            <div class="post_topbar applied-post">
                                                <div class="usy-dt">
                                                    <img src="{% static '/front_end/images/resources/us-pic.png' %}" alt="">
                                                    <div class="usy-name">
                                                        <h3>John Doe</h3>
                                                        <div class="epi-sec epi2">
                                                            <ul class="descp descptab bklink">
                                                                <li><img src="{% static '/front_end/images/icon8.png' %}" alt=""><span>Epic Coder</span></li>
                                                                <li><img src="{% static '/front_end/images/icon9.png' %}" alt=""><span>India</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ed-opts">
                                                    <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                                    <ul class="ed-options">
                                                        <li><a href="#" title="">Edit Post</a></li>
                                                        <li><a href="#" title="">Accept</a></li>
                                                        <li><a href="#" title="">Unbid</a></li>
                                                        <li><a href="#" title="">Close</a></li>
                                                        <li><a href="#" title="">Hide</a></li>
                                                    </ul>
                                                </div>
                                                <div class="job_descp noborder">
                                                    <div class="star-descp review profilecnd">
                                                        <ul class="bklik">
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star-half-o"></i></li>
                                                            <a href="#" title="">5.0 of 5 Reviews</a>
                                                        </ul>
                                                    </div>
                                                    <div class="devepbtn appliedinfo noreply">
                                                        <a class="clrbtn" href="#">Accept</a>
                                                        <a class="clrbtn" href="#">View Profile</a>
                                                        <a class="clrbtn" href="#">Message</a>
                                                        <a href="#">
                                                           <i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>	
                                 </div>
                            </div>

                            <div class="product-feed-tab current" id="info-dd">
                                <div class="user-profile-ov">
                                    <h3><a href="#" title="" class="overview-open">Overview</a> <a href="#" title="" class="overview-open"><i class="fa fa-pencil"></i></a></h3>
                                    <p>{{ students.research_interest }}</p>
                                    <p>{{ students.intended_position }}</p>
                                </div><!--user-profile-ov end-->
                                <div class="user-profile-ov st2">
                                    <h3><a href="#" title="" class="exp-bx-open">Experience </a><a href="#" title="" class="exp-bx-open"><i class="fa fa-pencil"></i></a> <a href="#" title="" class="exp-bx-open"><i class="fa fa-plus-square"></i></a></h3>
                                    {% for experience in experiences %}
                                    <h4>{{experience.title}} <a href="{{ experience.id  }}" title="" class="exp-bx-open" id="exp_id" value="{{ experience.id  }}|{{ experience.title }}|{{ experience.description }}|{{ experience.from_date }}| {{ experience.to_date }}"><i class="fa fa-pencil" value="{{ experience.id }}"></i></a></h4>
                                        <span>{{experience.from_date}} - {{experience.to_date}}</span>
                                        <p style="text-align:justify">{{experience.description}}</p>
                                    {% endfor %}
                                </div><!--user-profile-ov end-->
                                <div class="user-profile-ov">
                                    <h3><a href="#" title="" class="ed-box-open">Education</a> <a href="#" title="" class="ed-box-open"><i class="fa fa-pencil"></i></a> <a href="#" title=""><i class="fa fa-plus-square"></i></a></h3>
                                    {% for info in all_info %}
                                        <h4>{{ info.1 }}, {{ info.14 }} <a href="{{ info.0  }}" title="" class="ed-box-open" value="{{ info.1 }}|{{ info.14 }}|{{ info.10 }}|{{ info.11 }}|{{ info.2 }}|{{ info.3 }}|{{ info.5 }}|{{ info.4 }}|{{ info.0 }}|{{ info.7 }}|{{ info.6 }}"><i class="fa fa-pencil"></i></a></h4>
                                        <span>{{info.10}}, {{info.11}}</span>
                                        <span>{{info.2}} - {{info.3}}</span>
                                        <p style="text-align:justify">{{ info.5 }}</p>
                                        <br>
                                    {% endfor %}

                                </div><!--user-profile-ov end-->
                                <div class="user-profile-ov">
                                    <h3><a href="#" title="" class="lct-box-open">Contact Info</a> <a href="#" title="" class="lct-box-open"><i class="fa fa-pencil"></i></a> <a href="#" title=""><i class="fa fa-plus-square"></i></a></h3>
                                    <h4>{{ country.country_name }}</h4>
                                    <p>{{ students.email }}</p>
                                    <p>{{ students.phone }}</p>
                                </div><!--user-profile-ov end-->
                                <div class="user-profile-ov">
                                    <h3><a href="#" title="" class="skills-open">Skills</a> <a href="#" title="" class="skills-open"><i class="fa fa-pencil"></i></a> <a href="#"><i class="fa fa-plus-square"></i></a></h3>
                                    <ul>
                                        {% for student_skill in student_skills %}
                                        <li><a href="#" title="">{{student_skill.1}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div><!--user-profile-ov end-->
                            </div><!--product-feed-tab end-->
                            
                            <div class="product-feed-tab" id="portfolio-dd">
                                <div class="user-profile-ov">
                                    <h3><a href="#" title="" class="pub-bx-open">Publication </a><a href="#" title="" class="pub-bx-open"><i class="fa fa-pencil"></i></a> <a href="#" title="" class="pub-bx-open"><i class="fa fa-plus-square"></i></a></h3>
                                    {% for publication in publications %}
                                        <h4>{{ publication.title }}<a href="{{ publication.id }}" title="" class="pub-bx-open" value="{{ publication.id }}|{{ publication.title }}|{{ publication.publisher }}|{{ publication.year_published }}|{{ publication.url }}|{{ publication.description }}"><i class="fa fa-pencil"></i></a></h4>
                                        <h5>{{ publication.year_published }} . {{ publication.publisher }}</h5>
                                        <p> {{ publication.description }} </p>
                                        <a href="{{ publication.url }}">See Publication</a>
                                        <br><br>
                                    {% endfor %}

                                </div><!--user-profile-ov end-->
                            </div><!--product-feed-tab end-->
                        </div><!--main-ws-sec end-->
                    </div>
                    <div class="col-lg-3">
                        <div class="right-sidebar">
                            <div class="message-btn">
                                <a href="profile-account-setting.html" title=""><i class="fas fa-cog"></i> Setting</a>
                            </div>
                            <div class="widget widget-jobs">
                                <div class="sd-title">
                                    {% if user.role == "Professor" %}
                                    <h3>Students of the week</h3>
                                    {% elif title == value %}
                                    <h3>Offers of the week</h3>
                                    {% endif %}
                                    <i class="la la-ellipsis-v"></i>
                                </div>
                                <div class="jobs-list">
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior Product Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div><!--job-info end-->
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior UI / UX Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div><!--job-info end-->
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Junior Seo Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div><!--job-info end-->
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior PHP Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div><!--job-info end-->
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior Developer Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div><!--job-info end-->
                                </div><!--jobs-list end-->
                            </div><!--widget-jobs end-->
                            <div class="widget widget-jobs">
                                <div class="sd-title">
                                    {% if user.role == "Professor" %}
                                    <h3>Student who visited your offer</h3>
                                    {% elif title == value %}
                                    <h3>Professor who visited your profile</h3>
                                    {% endif %}
                                    <i class="la la-ellipsis-v"></i>
                                </div>
                                <div class="jobs-list">
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior Product Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div><!--job-info end-->
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior UI / UX Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div><!--job-info end-->
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Junior Seo Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div><!--job-info end-->
                                </div><!--jobs-list end-->
                            </div><!--widget-jobs end-->
                        </div><!--right-sidebar end-->
                    </div>
                </div>
            </div><!-- main-section-data end-->
        </div> 
    </div>
</main>




<div class="overview-box" id="overview-box">
    <div class="overview-edit">
        <h3>Overview</h3>
        <span>5000 character left</span>
        <form id="overview_form" method="POST">
            {% csrf_token %}
            <textarea placeholder="Overview & Research Interest" id="overview_and_research">{{ students.research_interest }}</textarea>
            <!-- <input type="text" name="intended_position" placeholder="Intended Position" id="intended_position"> -->
            <div class="form-group">
                <select class="form-control" name="intended_position" id="intended_position" style="-webkit-appearance: menulist-button;">
                  <option value="Undergraduate" {% if students.intended_position == "Undergraduate" %} selected {%endif%}>Undergraduate</option>
                  <option value="Masters" {% if students.intended_position == "Masters" %} selected {%endif%}>Masters</option>
                  <option value="Ph.D" {% if students.intended_position == "Ph.D" %} selected {%endif%}>Ph.D</option>
                  <option value="Post Doc" {% if students.intended_position == "Post Doc" %} selected {%endif%}>Post Doc</option>
                </select>
            </div>
            <button type="submit" class="save">Save</button>
            <button type="submit" class="cancel">Cancel</button>
        </form>
        <a href="#" title="" class="close-box"><i class="la la-close"></i></a>
    </div><!--overview-edit end-->
</div><!--overview-box end-->


<div class="overview-box" id="experience-box">
    <div class="overview-edit">
        <h3>Experience</h3>
        <form id="experience_form" method="POST">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Title" id="job_title">
            <textarea placeholder="Description" id="job_description"></textarea>

            <div class="datepicky">
                <div class="row">
                    <div class="col-lg-6 no-left-pd">
                        <p>From:</p>
                        <input type="date" name="to" placeholder="From" class="datepicker" id="from_date">
                    </div>
                    <div class="col-lg-6 no-righ-pd">
                        <p>To:</p>
                       <input type="date" name="to" placeholder="To" class="datepicker" id="to_date">
                    </div>


                </div>
            </div>

            <input type="hidden" value="" id="experience_id">
            <button type="submit" class="save" id="save_experience">Save</button>
            <button type="submit" class="save" id="update_experience">Update</button>
            <button type="submit" class="cancel">Cancel</button>
        </form>
        <a href="#" title="" class="close-box"><i class="la la-close"></i></a>
    </div><!--overview-edit end-->
</div><!--overview-box end-->

<div class="overview-box" id="education-box">
    <div class="overview-edit">
        <h3>Education</h3>
        <form id="education_form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <select class="form-control" name="student_institution" id="student_institution" style="-webkit-appearance: menulist-button;">
                    <option>--Select your institution--</option>
                {% for institution in institutions %}
                    <option value="{{institution.id}}">{{institution.institution_name}}</option>
                {% endfor %}
                    <option value="other_selected" id="other_selected">Other</option>
                </select>
            </div>

            <input type="text" name="new_institution" placeholder="Enter your intitution" id="new_institution">
            <!-- <input type="text" name="school" placeholder="School / University"> -->
            <div class="form-group">
                <select class="form-control" name="field_of_study" id="field_of_study" style="-webkit-appearance: menulist-button;">
                    <option>--Select your field of study--</option>
                    {% for fos in foss %}
                        <option value="{{fos.id}}">{{fos.major}}</option>
                    {% endfor %}
                    <option value="other_fos_selected" id="other_fos_selected">Other</option>
                </select>
            </div>

            <input type="text" name="new_fos" placeholder="Enter your field of study" id="new_fos">
            <!--<input type="text" name="field_of_study" placeholder="Field of Study" id="field_of_study">-->
            <input type="text" name="grade" placeholder="Grade" id="grade">
            <div class="datepicky">
                <div class="row">
                    <div class="col-lg-6 no-left-pd">
                        <p>From:</p>
                        <input type="date" name="to" placeholder="From" class="datepicker" id="from_date_eduction">
                    </div>
                    <div class="col-lg-6 no-righ-pd">
                        <p>To:</p>
                       <input type="date" name="to" placeholder="To" class="datepicker" id="to_date_eduction">
                    </div>


                </div>
            </div>
            <input type="text" name="degree" placeholder="Degree" id="student_degree">
            <textarea placeholder="Description" id="student_degree_description"></textarea>
            <input type="hidden" value="" id="institution_id">
            <input type="hidden" value="" id="education_id">
            <button type="submit" class="save" id="save_education">Save</button>
            <button type="submit" class="save" id="update_education">Update</button>
            <button type="submit" class="cancel">Cancel</button>
        </form>
        <a href="#" title="" class="close-box"><i class="la la-close"></i></a>
    </div><!--overview-edit end-->
</div><!--overview-box end-->

<div class="overview-box" id="location-box">
    <div class="overview-edit">
        <h3>Location</h3>
        <form id="ajax_contact" method="POST">
            {% csrf_token %}
            <input type="text" name="email" id="email" placeholder="Email" value={{ students.email }}>
            <input type="text" name="phone" id="phone" placeholder="Phone" value={{ students.phone }}>
            <textarea placeholder="Address" id="address" name="address">{{ students.address }}</textarea>
            <div class="datefm">
                <select name="country" id="country">
                {% for country in countries %}
                    {% if students.country_id == country.id %}
                    <option selected="selected" value={{country.id}} >{{country.country_name}}</option>
                    {% else %}
                    <option value={{country.id}} >{{country.country_name}}</option>
                    {%endif%}
                {% endfor %}
                </select>
                <i class="fa fa-globe"></i>
            </div>
            <button type="submit" class="save">Save</button>
            <button type="submit" class="cancel">Cancel</button>
        </form>
        <a href="#" title="" class="close-box"><i class="la la-close"></i></a>
    </div><!--overview-edit end-->
</div><!--overview-box end-->

<div class="overview-box" id="skills-box">
    <div class="overview-edit">
        <h3>Skills</h3>
        <ul>
            {% for student_skill in student_skills %}
                <li><a href="#" class="skl-name">{{student_skill.1}}</a><a  id="skill_id{{student_skill.0}}" value="{{student_skill.0}}" class="close-skl"><i class="la la-close"></i></a></li>
                <script type="text/javascript" src="{% static '/front_end/js/jquery.min.js' %}"></script>
                <script>
                $(document).on('click', '#skill_id{{student_skill.0}}', function(){
                    skill_delete($('#skill_id{{student_skill.0}}').attr("value")); 
                });
                </script>
            {% endfor %}
        </ul>
        <form id="ajax_skill" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <select class="form-control" name="student_skill" id="student_skill" style="-webkit-appearance: menulist-button;">
                    <option value="0">Select a Skill</option>
                {% for skill in skills %}
                    <option value="{{skill.id}}">{{skill.skill}}</option>
                {% endfor %}
                    <option value="other_skill">Other</option>
                </select>
            </div>
            <input type="text" name="new_skill" placeholder="Enter a skill" id="new_skill">

            <button type="submit" class="save">Add</button>
            <button type="submit" class="cancel">Cancel</button>
        </form>
        <a href="#" title="" class="close-box"><i class="la la-close"></i></a>
    </div><!--overview-edit end-->
</div><!--overview-box end-->

<div class="overview-box" id="publication-box">
    <div class="overview-edit">
        <h3>Add Publication</h3>
        <form>
            {% csrf_token %}
            <input type="hidden" value="" id="pub_id">
            <input type="text" name="pf-name" placeholder="Title" id="pub_title">
            <input type="text" name="pf-name" placeholder="Publication/Publisher" id="pub_publisher">
            <div class="datefm">
                <input type="date" name="year" placeholder="Publication Year" class="datepicker" id="pub_date">

            </div>
            <input type="text" name="pf-name" placeholder="Publication URL" id="pub_url">
            <textarea placeholder="Description" id="pub_description"></textarea>
            <button type="submit" class="save" id="add_publication">Save</button>
            <button type="submit" class="save" id="edit_publication">Update</button>
            <button type="submit" class="cancel">Cancel</button>
        </form>
        <a href="#" title="" class="close-box"><i class="la la-close"></i></a>
    </div><!--overview-edit end-->
</div><!--overview-box end-->

</div><!--theme-layout end-->

{% endblock %}
