{% extends 'our_app/main.html' %}
{% block content %}
<br>
<h3>Education: Beyond the horizon</h3>
<p>Student Name: {{student.first_name }} {{student.last_name }}</p>
<p>Recommended offers based on your profile: </p>
{% for offer in matched_offers %}
    <p>{{offer.professor}}</p>
    <p>{{offer.position}}</p>
    <p>{{offer.major}}</p>
    <p>{{offer.min_cg_requirement}}</p>
    <p>{{offer.university}}</p>
    <p>{{offer.location}}</p>
    <p>{{offer.supervisor}}</p>
    <p>{{offer.research_field}}</p>
    <p>{{offer.position_description}}</p>

{% endfor %}

{% endblock %}
